.filters-group-container {
  margin-top: 16px;
}

@media screen and (min-width: 768px) {
  .filters-group-container {
    width: 30%;
    max-width: 350px;
    margin-top: 48px;
    flex-shrink: 0;
  }
}

/* Write your CSS here */
.input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 30px;
  width: 250px;
  background-color: #f1f5f9;
  border-radius: 5px;
  margin-bottom: 20px;
}

.input-element {
  height: 30px;
  width: 250px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  padding-left: 10px;
  color: #64748b;
  background-color: #f1f5f9;
  outline: none;
  border-width: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.search-icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}


.category-heading {
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: bold;
  color: #0f172a;
}

.unordered-List {
  list-style-type: none;
  padding-left: 0;
}

.btn {
  background-color: transparent;
  border-width: 0;
  outline: none;
  cursor: pointer;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
  color: #64748b;
  margin-bottom: 20px;
  padding-left: 0;
}

.rating-list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.stars-size {
  height: 25px;
  width: 170px;
}

.up-para {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  color: #64748b;
  margin-top: 0;
  margin-left: 10px;
  padding-bottom: 6px;
}

.clear-btn {
  background-color: transparent;
  border-width: 1;
  border-color: #0967d2;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  font-family: 'Roboto';
  font-size: 13px;
  font-weight: 500;
  color: #0967d2;
  height: 25px;
  width: 100px;
}
